<p id="notice"><%= notice %></p>

<h1>映画一覧</h1>

<%= form_with url: movies_path, method: :get do |form| %>
  <div class="m-2">
    <div>
      <%= form.label :is_showing_, "全て" %>
      <%= form.radio_button :is_showing, '', checked: true %>
      <%= form.label :is_showing_0, "公開予定" %>
      <%= form.radio_button :is_showing, 0 %>
      <%= form.label :is_showing_1, "公開中" %>
      <%= form.radio_button :is_showing, 1 %>
    </div>
    <div>
      <%= form.label 'キーワード' %>
      <%= form.text_field :keyword %>
    </div>
    <div>
      <%= form.submit '送信', class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>

<div class="d-flex flex-wrap">
  <% @movies.each do |movie| %>
    <div class="p-2">
      <p><%= image_tag movie.image_url %></p>
      <p><%= movie.name %></p>
      <p><%= link_to '予約/詳細', movie, class: "btn btn-primary btn-sm" %></p>
    </div>
  <% end %>
</div>

