<% flash.each do |key, value| %>
  <%= content_tag(:p, value, class: "alert alert-#{key}") %>
<% end %>
<div class="row row-cols-2 justify-content-center m-2 p-2">
  <div class="col-md-2">
    <%= image_tag @movie.image_url %>
  </div>
  <div class="col-md-2">
    <div class="d-flex flex-column">
      <div class="p-2"><%= @movie.name %></div>
      <div class="p-2"><%= @movie.year %>年</div>
      <div class="p-2"><%= @movie.description %></div>
    </div>
  </div>
</div>
<div class="d-flex flex-column">
  <div class="text-center p-2">上映スケジュール</div>
  <% @movie.schedules.order(:start_time).each do |schedule| %>
    <div class="text-center p-2">
      <%= l schedule.start_time, format: :time_only %>
      ～
      <%= l schedule.end_time, format: :time_only %>
    </div>
  <% end %>
</div>
<%= form_with method: :get, url: reservation_movie_path(@movie) do |form| %>
  <div class="actions m-2 row justify-content-center">
    <div class="col-2 p-2">
      <%= form.label '劇場' %>
      <%= form.select :theater_id, Theater.pluck(:name, :id) %>
    </div>
    <div class="col-2 p-2">
      <%= form.label '日付' %>
      <%= form.select :date, select_date_oneweek %>
    </div>
    <div class="col-3 p-2">
      <%= form.label '上映スケジュール' %>
      <%= form.select :schedule_id, @movie.schedules.order(:start_time).map {|schedule| ["#{(l schedule.start_time, format: :time_only)}～#{(l schedule.end_time, format: :time_only)}", schedule.id]} %>
    </div>
    <div class="col-2 p-2">
      <%= form.button '座席を予約する', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
