<%= form_with(model: [:admin, screen]) do |form| %>
  <% if screen.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: screen.model_name.human, count: screen.errors.count) %></h2>

      <ul>
        <% screen.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container actions">
    <div class="row m-2">
      <div class="col-2 p-2"><%= form.label :theater_id %></div>
      <div class="col-10 p-2"><%= form.select :theater_id, Theater.pluck(:name, :id), required: true %></div>
    </div>
    <div class="row m-2">
      <div class="col-2 p-2"><%= form.label :name %></div>
      <div class="col-10 p-2"><%= form.select :name, Screen.names.keys,required: true %></div>
    </div>
    <div class="row m-2">
      <div class="col-2 p-2"><%= form.label :schedule_id %></div>
      <div class="col-10 p-2"><%= form.select :schedule_id, schedule_list, required: true %></div>
    </div>
    <div class="row m-2">
      <div class="col-2 p-2"><%= form.label :date %></div>
      <div class="col-10 p-2"><%= form.date_field :date, required: true %></div>
    </div>
    <div class="m-2"><%= form.submit '送信', class: "btn btn-primary btn-sm" %></div>
  </div>
<% end %>
