<p id="notice"><%= notice %></p>

<h1>スクリーン情報一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th class="col-1"><h5>ID</h5></th>
      <th class="col-2"><h5>劇場名</h5></th>
      <th class="col-2"><h5>スクリーン名</h5></th>
      <th class="col-2"><h5>映画名</h5></th>
      <th class="col-2"><h5>日付</h5></th>
      <th class="col-1"><h5>開始時間</h5></th>
      <th class="col-1"><h5>終了時間</h5></th>
    </tr>
  </thead>

  <tbody>
    <% @screens.each do |screen| %>
      <tr>
        <td><%= link_to screen.id, edit_admin_screen_path(screen.id) %></td>
        <td><%= screen.theater&.name %></td>
        <td><%= screen.name %></td>
        <td><%= screen.schedule.movie.name %></td>
        <td><%= screen.date %></td>
        <td><%= l screen.schedule.start_time, format: :time_only %></td>
        <td><%= l screen.schedule.end_time, format: :time_only %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'スクリーン設定', new_admin_screen_path %>

